/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#main-pane {
    -fx-background-color: #EFEFF5;
    -fx-padding: 0 20 20 20;
    -fx-font-family: roboto;
    -fx-font-size: 14;
}
#welcome-text {
    -fx-text-fill: #0169FF;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

.siliconmap-logo {
	-fx-text-fill: #0169FF;
    -fx-font-family: roboto;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}

#login-title {
    -fx-text-fill: #0169FF;
    -fx-font-family: roboto;
    -fx-font-weight: bold;
    -fx-font-size: 35;
}

.submit-button {
    -fx-background-color: #0169FF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-pref-height: 40px;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-pref-height: 35px;
}
.Status{
    -fx-font-size: 28;
    -fx-font-family: roboto;
    -fx-font-weight: bold;
}
.Status-normal{
    -fx-text-fill : #0169FF;
}
.Status-warning{
    -fx-text-fill : #FFB301;
}
.Status-error{
    -fx-text-fill : #FF0105;
}
.space-type{
    -fx-background-radius: 12px;
    -fx-background-color: #0169FF;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-size: 22px;
    -fx-padding: 8;
}
.head{
    -fx-padding: 20 0 50 0;
}
.navbar-button{
    -fx-background-color: #fff;
    -fx-font-family: roboto;
    -fx-font-weight: bold;
    -fx-font-size:18;
    -fx-cursor: hand;
}
.navbar-button-is-selected{
    -fx-text-fill: #0169FF;
}
.dashview{
    -fx-background-color: #fff;
    -fx-background-radius: 12px;
    -fx-padding: 20;
}
.subtitle{
    -fx-text-fill: #0169FF;
    -fx-font-family: roboto;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-padding: 0 0 10 0;
}
.subsubtitle{
    -fx-text-fill: #000;
    -fx-font-family: roboto;
    -fx-font-weight: bold;
    -fx-font-size:18;
    -fx-padding: 10 0 10 0;
}
.stats{
    -fx-background-color: #EFEFF5;
    -fx-padding: 20;
    -fx-font-family: roboto;
    -fx-font-weight: bold;
    -fx-font-size:20;
    -fx-background-radius: 12px;
}
.stats-num{
    -fx-padding: 4;
    -fx-font-family: roboto;
    -fx-font-weight: bold;
    -fx-font-size:40;
}
.machine-bubble-normal{
    -fx-background-color: #EFEFF5;
    -fx-padding: 25 15 25 15;
    -fx-font-family: roboto;
    -fx-font-size: 16;
    -fx-background-radius: 12px;
}
.machine-bubble-warning{
    -fx-background-color: #EFEFF5;
    -fx-padding: 25 15 25 15;
    -fx-font-family: roboto;
    -fx-font-size: 16;
    -fx-background-radius: 12px;
}
.machine-bubble-error{
    -fx-background-color: #EFEFF5;
    -fx-padding: 25 15 25 15;
    -fx-font-family: roboto;
    -fx-font-size: 16;
    -fx-background-radius: 12px;
}
.bubble-title{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.scroll-pane{
    -fx-background-color: #fff;
    -fx-background-insets: 0;

}
/*default class of viewport of scroll pane !!*/
.viewport {
    -fx-background-color: transparent;
}
.addButton{
    -fx-background-color: #fff;
    -fx-background-insets: 0;
    -fx-font-family: roboto;
    -fx-font-size: 25;
    -fx-cursor: hand;
}
.text-area{
    -fx-background-color: #EFEFF5;
    -fx-background-insets: 0;
}
.need-gap-y{
    -fx-padding: 10 0 10 0;
}
.gold-text{
    -fx-text-fill: #D3AF37;
}
.gold-icon{
    -fx-fill: transparent;
    -fx-stroke: #D3AF37;
    -fx-stroke-width: 3;
}
.green-dot{
    -fx-fill: #01ff16;
    -fx-stroke: #01ff16;
}
.red-dot{
    -fx-fill: #ff0101;
    -fx-stroke: #ff0101;
}
.staff-bubble{
    -fx-background-color: #EFEFF5;
    -fx-padding: 20;
    -fx-background-radius: 12px;
}
.selectors-button{
    -fx-background-color: #fff;
    -fx-padding: 15;
    -fx-background-radius: 12px;
}
.selectors-button-is-selected{
    -fx-background-color: #0169FF;
    -fx-text-fill: #ffffff;
}
.nobg1{
    -fx-background-color: #EFEFF5;
}
.bold{
    -fx-font-weight: bold;
}
.message-admin{
    -fx-background-color: #016bff6a;
    -fx-background-radius: 12px;
    -fx-padding: 10;
}
.message-technician{
    -fx-background-color: #EFEFF5;
    -fx-background-radius: 12px;
    -fx-padding: 10;
}
.chat-part{
    -fx-background-color: #ffffff;
    -fx-background-radius: 12px;
}
.red-button{
    -fx-background-color: #ff0101;
    -fx-fill: #ffffff;
}
/*.chart*/
.chart-series-line {
    -fx-stroke: #0169FF;
    -fx-stroke-width: 5px; 
    -fx-background-radius: 12px;
}
.chart-plot-background {
    -fx-background-color: #EFEFF5; 
    -fx-background-radius: 12px;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #0169FF;
}