/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#main-pane {
    -fx-background-color: #EFEFF5;
}
#welcome-text {
    -fx-text-fill: #0169FF;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
}

#siliconmap-text {
	-fx-text-fill: #0169FF;
    -fx-font-family: estate;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

#login-title {
    -fx-text-fill: #0169FF;
    -fx-font-family: estate;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
}

#login-button {
    -fx-background-color: #0169FF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-pref-height: 40px;
    -fx-cursor: hand;
}

#text-field {
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-pref-height: 35px;
}