/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#main-pane {
    -fx-background-color: #EFEFF5;
}
#welcome-text {
    -fx-text-fill: #0169FF;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    
}